{% set lang = _lang.tl_assetic_config %}

<h1 id="tl_welcome">{{ lang.headline }}</h1>

<div id="tl_assetic">
    <h2>{{ lang.assets }}</h2>

    <div class="tl_module_desc">
        <h3><a href="contao/main.php?do=assetic_config&amp;table=tl_assetic_filter" class="navigation filter">{{ lang.filter.0 }}</a></h3>
        <p>{{ lang.filter.1 }}</p>
    </div>

    <div class="tl_module_desc">
        <h3><a href="contao/main.php?do=assetic_config&amp;table=tl_assetic_filter_chain" class="navigation chain">{{ lang.filterChain.0 }}</a></h3>
        <p>{{ lang.filterChain.1 }}</p>
    </div>
</div>